.categoria-acesso{
    width: 100%;
    height: 1250px;
    margin-top: 4%;
}

.title-categoria{
    width: 92%;            
    height: 50px;    
    margin: auto;
}

.title{
    background-color: #d1ebf7;
    width: 14%;
    height: 100%;
    box-shadow: 8px 0px 8px -2px #000;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
}

.title p{
    font-size: 18px;
    padding: 12px;
    color: black;
    position: relative;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.nome-manga{
    background-color: #d1ebf7;
    width: 92%;
    height: 85%;
    border-radius: 0px 8px 8px 8px;
    box-shadow: 6px 10px 14px -2px #000;
    margin: auto;
}

.nome-vitrine{
    height: 500px;
    display: flex;
    flex-flow: row wrap;
}

.caixa-categoria{
    font-size: 20px;
    padding: 5px 10px;
    border: 2px solid black;
    margin-top: 30px;
    height: fit-content;
    margin-left: 5%;
    background-color: #353535;
}

.categoria-foto{
    margin-top: 30px;
    width: 100%;
    height: 430px;
    margin-left: 1%;
}

.categoria-foto p{
    width: 60%;
    color: #000;
    background-color: white;
    padding: 10px;
    text-align: center;  
    border: 2px solid black;
}




