.vitrine-acesso{
    width: 100%;
    height: 400px;
    margin-top: 4%;
}

.title-vitrine{
    width: 92%;            
    height: 50px;    
    margin: auto;
}

.title{
    background-color: #d1ebf7;
    width: 14%;
    height: 100%;
    box-shadow: 8px 0px 8px -2px #000;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
}

.title p{
    font-size: 18px;
    padding: 12px;
    color: black;
    position: relative;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.sub-vitrine{
    background-color: #d1ebf7;
    width: 92%;
    height: 85%;
    border-radius: 0px 8px 8px 8px;
    box-shadow: 6px 10px 14px -2px #000;
    margin: auto;
}

.mangas-vitrine{
    height: 300px;
    display: flex;
    flex-flow: row wrap;
}

.caixa-manga5{
    margin-top: 30px;
    width: 18%;
    height: 290px;
    margin-left: 2%;
    margin: auto;
}

.caixa-manga4{
    margin-top: 30px;
    width: 23%;
    height: 430px;
    margin-left: 1%;
    margin: auto;
}


.capa-manga{
    height: 70%;
    width: 150px;
    margin: auto;
}

.capa-manga-lancamentos{
    height: 70%;
    width: 200px;
    margin: auto;
}


.item-manga{
    text-align: center;
    margin-top: 10px;
    margin-right: 0%;
}

.vitrine-lancamento{
    margin-top: 2%;
    width: 100%;
    height: 1200px;
}

.cropped{
    width: 150px; 
    height: 200px; 
    object-fit: cover;
}

.cropped-lancamentos{
    width: 200px; 
    height: 250px; 
    object-fit: cover;
}

@media only screen and (max-width: 1382px) {

}


@media only screen and (max-width: 768px) {
    .cropped{
        width: 70px;
        height: 150px;
    }
    
    .cropped-lancamentos{
        width: 100px; 
        height: 200px; 
    }
}

@media only screen and (max-width: 576px) {
    .cropped{
        width: 70px;
        height: 150px;
    }
    
    .cropped-lancamentos{
        width: 100px; 
        height: 150px; 
    }
}
