*{
    margin: 0;
    padding: 0;
  }

body{
    width:100%;
    background-color: #24252a;
    overflow-x: hidden;
    
}

#search-bar{
    width: 70%;
    margin: auto;
    margin-top: 60px;
    display: inline-flexbox;
    font-size: 30px;
    color: #edf0f1;
    font-family: "Montserrat", sans-serif;
}

#search-bar form{
    width: 100%;
    display: flex;
    padding: 0;
    height: 100%;
}

#search-text{
    padding-top: 10px;
    width: 90%;
    height: 29px;
}

#search-btn{
    width: 9%;
    height: 29px;
}

#form-rect input, #my-text{
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    font-size: 20px;
}

#mangas{
    width: 90%;
    margin: auto;
}

#card-manga{
    display: flex;
    background-color: #838383;
    border-radius: 0px 8px 8px 8px;
    box-shadow: 6px 10px 14px -2px #000;
    padding: 20px;
    width: 100%;
    margin: auto;
    margin-top: 60px;
    font-size: 13px;
    color: #edf0f1;
    font-family: "Montserrat", sans-serif;
}

#manga-cover-container{
    display: block;
    float: left;
    width: 19%;
    height: 300px;
    margin: auto;
}

#manga-cover{
    width: 90%;
    height: 100%;
    margin: auto;
    background-size:cover;
    background-position: center;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0 20px;
}

#manga-cover-above-container{
    margin: 0 auto;
    margin-top: 90px;
    width: 60%;
    height: 350px;
    background-color: #838383;
    border-radius: 0px 8px 8px 8px;
    box-shadow: 6px 10px 14px -2px #000;
}

#manga-above-cover{
    width: 90%;
    height: 90%;
    margin: auto;
    background-size:cover;
    background-position: center;
    border-radius: 10px;
    border: 1px solid black;
}

#manga-above-cover:hover{
    border: 2px solid blue;
}

#manga-information-section{
float: right;
width: 79%;
margin-left: 20px;
}

#manga-information h1{
 width: 100%;
 color: black;
}

#manga-information h1:hover{
    color: blue;
}

#sinopse{
    text-align: justify;
    overflow-wrap: break-word;
    color: black;
    font-family: "Montserrat", sans-serif;
}

#manga-additional-info{
    display:flex;
}

#additional-info{
    display: flex;
}

#additional-info p{
    font-family: "Montserrat", sans-serif;
    color: black;
    border: black solid 1px;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 10px;
    max-width: fit-content;
    padding: 6px;
    background-color: white;
}

#manga-cover:hover{
    border: blue solid 2px;
}

.cropped-vitrine{
    width: 200px; 
    height: 280px; 
    object-fit: cover;
    border: 4px solid black;
}

#card-manga{
    width: 100%;
}

@media only screen and (max-width: 1115px) {

    #manga-cover-container{
        width: 39%;
    }

    #manga-information-section{
        width: 69%;
    }
}

@media only screen and (max-width: 768px) {

    #manga-cover-container{
        width: 49%;
    }

    #manga-information-section{
        width: 49%;
    }

}

@media only screen and (max-width: 539px) {

    #manga-cover-above-container{
        display: flex !important;
    }

    #manga-cover-container{
        display: none;
    }

    #manga-information-section{
        width: 90%;
    }

    #card-manga{
        margin-top: 10px;
    }
}

@media only screen and (max-width: 379px) {

    #manga-cover-above-container{
        width: 90%;
    }

}
